<div class="container">
  <div class="row">
    <!--왼쪽 화면 -->
    
  
    <div class="col-md-2" style="background-color:darkgray;">
      <hr>
      <div style="text-align:center">
        <h3>오늘계산서</h3>
      </div>
      <hr>
        <div class = "container" style="height:480px; color:white">
          <h4><a href="/bill/index">전체계산서</a></h4> <!--bill/index의 디폴트 값은 '전체계산서 출력-->
          <h4><a href="/bill/today" style="color:white">오늘계산서</a></h4>
          <h4><a href="/bill/workperiod">기간별 계산서</a></h4>
        </div>
    </div>


  <!--오른쪽 화면 -->

  <div class="col-md-10">

    <% if current_user.store.working %>
      <div id="mainbox">
        <% @bill_today.each do |b|%>

          <div id="card">
            <div id ="store_title"><%=b.created_at.strftime("%F // %H:%M")%></div>

            <div id ="store_content">
              --------------------------------------</br>
              <% b.salesmenu.each do |s|%>
                  <form action="/bill/qty_minus" method = "post">
                    <%=s.menu.name%> &nbsp; &nbsp;
                    <%=s.qty%>
                    <button type="submit" class="glyphicon glyphicon-minus" name ="qty" value ="<%=s.id%>"> </button>
                  </form>
              <%end%>
            </div>
            ------------------------------------------
            <div id ="store_title">총 금액 : <%= number_with_precision(b.totalprice, :precision => 0, :delimiter => ',') %> 원</div>
            <form action="/bill/bill_destroy" method = "post">
              <button type="submit" class="btn btn-default" name = "billid" value ="<%=b.id%>">계산서삭제</button>
            </form>
          </div>

        <% end %>


      </div>

    <% else %>
      '영업중'이 아닙니다.

    <% end %>



  </div>
