<div class="container">
  <div class="row">
    <!--왼쪽 화면 -->
    
  
    <div class="col-md-2" style="background-color:darkgray;">
      <hr>
      <div style="text-align:center">
        <h3>기간별 계산서</h3>
      </div>
      <hr>
      <div class = "container" style="height:480px; color:white">
        <h4><a href="/bill/index">전체계산서</a></h4> <!--bill/index의 디폴트 값은 '전체계산서 출력-->
        <h4><a href="/bill/today">오늘계산서</a></h4>
        <h4><a href="/bill/workperiod" style="color:white">기간별 계산서</a></h4>
        
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            영업기간
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <% @workperiod.each do |w|%>
                <li><a href="/bill/workperiod_show/<%=w.id%>"><%=w.created_at.strftime("(%F)  %H:%M")%> ~ <%=w.updated_at.strftime("(%F) %H:%M")%></a></li>
            <%end%>
                <li role="separator" class="divider"></li>
                <li><a href="#">***</a></li>
          </ul>
        </div>
      
      </div>
    </div>


  <!--오른쪽 화면 -->

  <div class="col-md-10">
    <div id="mainbox">
      <% @picked_workperiod.bill.each do |b|%>

          <div id="card">
            <div id ="store_title"><%=b.created_at.strftime("%F // %H:%M")%></div>
            <div id ="store_content">
              --------------------------------------</br>
              <% b.salesmenu.each do |s|%>
                  <form action="/bill/qty_minus" method = "post">
                    <%=s.menu.name%> &nbsp; &nbsp;
                    <%=s.qty%>
                    <button type="submit" class="glyphicon glyphicon-minus" name ="qty" value ="<%=s.id%>"> </button>
                  </form>

                  </br>

              <% end %>
            </div>
            ------------------------------------------
            <div id ="store_title">총 금액 : <%=b.totalprice%> 원</div> </br>
            <form action="/bill/bill_destroy" method = "post">
              <button type="submit" class="btn btn-default" name = "billid" value ="<%=b.id%>">계산서삭제</button>
            </form>
          </div>

      <% end %>

    </div>




  </div>
</div>




