<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <style rel="stylesheet">
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f8f8f8;
  height: 98%;
  z-index:1;
  
}
.containers {

  overflow: hidden;
  width: 100%;
  height: 575px;
  margin: 0 40 40 40;
  background-color: #ffffff;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
}
.half {
  float: left;
  width: 40%;
  height: 600px;
  padding: 58px 40px 0;
}
.bg {
  background-image: url('https://s3.ap-northeast-2.amazonaws.com/tongilstorage/pos/2.jpg');
  height:100%;
}
h1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 23px;
  text-align: center;
  text-indent: 6px;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #263238;
}
body .containers .tabs {
  width: 100%;
  margin-bottom: 29px;
  border-bottom: 1px solid #d9d9d9;
}
.tab {
  display: inline-block;
  margin-bottom: -1px;
  padding: 20px 15px 10px;
  cursor: pointer;
  letter-spacing: 0;
  border-bottom: 1px solid #d9d9d9;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.1s ease-in-out;
}
.tab a {
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  color: #d9d9d9;
  transition: all 0.1s ease-in-out;
}
.active a, .tab:hover a {
  color: #263238;
}
.active {
  border-bottom: 1px solid #263238;
}
.content form {

  height: 200px;
}
.content label:first-of-type, .content input:first-of-type,  .more:first-of-type {
  -moz-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
  -webkit-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
}
.content label:nth-of-type(2), .content input:nth-of-type(2), .more:nth-of-type(2) {
  -moz-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
  -webkit-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
}
.content label:nth-of-type(3), .content input:nth-of-type(3), .more:nth-of-type(3) {
  -moz-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
  -webkit-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
}
 .content label {
  font-size: 12px;
  color: #263238;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.content label:not([for='remember']) {
  display: none;
}
.content input.inpt {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 42px;
  margin-bottom: 12px;
  padding: 16px 13px;
  color: #999999;
  border: 1px solid #d9d9d9;
  background: transparent;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.content input.inpt::-webkit-input-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
.content input.inpt:-moz-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
 .content input.inpt::-moz-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
.content input.inpt:-ms-input-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
 .content input.inpt:focus {
  border-color: #999999;
}
 .content input.submit {
  font-size: 12px;
  line-height: 42px;
  display: block;
  width: 100%;
  height: 42px;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #263238;
  border: 1px solid #263238;
  background: transparent;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
 .content input.submit:hover {
  background-color: #263238;
  color: #ffffff;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
 .content input:focus {
  outline: none;
}
.checkbox {
  margin-top: 4px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  margin: 17px -1px;
  padding: 0;
  border: 0;
}
.checkbox + label {
  vertical-align: middle;
  display: inline-block;
  width: 50%;
}
.checkbox + label:before {
  content: "\A";
  color: #999999;
  font-family: Verdana;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: transparent;
  border: 1px solid #d9d9d9;
  width: 11px;
  height: 11px;
  margin: -2px 8px 0 0;
}
.checkbox:checked + label:before {
  content: "?";
}
.submit-wrap {
 
  bottom: 0;
  width: 100%;
}

.submit-wrap a {
  font-size: 12px;
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: #999999;
}
.submit-wrap a:hover {
  text-decoration: underline;
}
.signup-cont {
  display: none;
}

@keyframes slideIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    margin-left: -320px;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    margin-left: 0px;
  }
}
@-webkit-keyframes slideIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    margin-left: -320px;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    margin-left: 0px;
  }
}
.credits {
  display: block;

  right: 0;
  bottom: 0;
  color: #999999;
  font-size: 14px;
  margin: 0 10px 10px 0;
}
.credits a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

</style>
  <title>Scrolling Nav - Start Bootstrap Template</title>
</head>

<body id="page-top">

  <!-- Intro Section -->
  <section id="intro" class="intro-section" style="padding-top:0px;background-color:#E6E6E6">
      <%= render "devise/sessions/nav" %>
    <div class="containers" style="margin:60px;">
      <article class="  col-md-5" >
			        <h1>Pos For EveryOne</h1>
			        <div class="tabs">
				            <span class="tab signin active"><a href="#signin">Sign in</a></span>
				            <span class="tab signup"><a href="#signup">Sign up</a></span>
			        </div>
              <div class="content">
				            <div class="signin-cont cont">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div>
                          <%= f.label :"이메일",for:"email" %>
                          <%= f.email_field :email, autofocus: true,class:"inpt", required:"required", placeholder:"Your email" %>
                        </div>
                      
                        <div>
                          <%= f.label :"비밀번호",for:"password" %>
                          <%= f.password_field :password, autocomplete: "off",  class:"inpt", required:"required", placeholder:"Your password" %>
                        </div>
                      						            
                        <div class="submit-wrap">
                           <%= f.submit "로그인",class:"submit" %>
                         <a href="<%= new_password_path(resource_name) %>" class="more">Forgot your password?</a>
                        </div>
                      <% end %>
                    </div>
                    
                    
                    <div class="signup-cont cont" >
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= devise_error_messages! %>
    
                        <div>
                          <%= f.label :"이메일 주소",for:"email" %>
                          <%= f.email_field :email, autofocus: true, class:"inpt", required:"required", placeholder:"이메일 주소" %>
                        </div>
    
                        <div>
                          <%= f.label :"비밀번호" %>
                          <% if @minimum_password_length %>
                              <em>(<%= @minimum_password_length %>개 이상)</em>
                          <% end %>
                          <%= f.password_field :password, autocomplete: "off",class:"inpt", required:"required", placeholder:"비밀번호" %>
                        </div>
          
                        <div>
                          <%= f.label :"비밀번호 확인" %>
                          <%= f.password_field :password_confirmation, autocomplete: "off",class:"inpt", required:"required", placeholder:"비밀번호 확인" %>
                        </div>
                        -------------기본정보입력-------------
                        <div>
                          <%= f.label :"이름" %>
                          <%= f.text_field :name, class:"inpt", placeholder:"이름"%>
                        </div>
          
                        <div>
                          <%= f.label :"핸드폰번호" %>
                          <%= f.text_field :phone_number, class:"inpt", placeholder:"핸드폰 번호"%>
                        </div>
                        
                        <div class="submit-wrap">
                          <%= f.submit "계정만들기",class:"submit" %>
                        </div>
                        
                      <% end %>
                    </div>
           
           </div>
       </article>
       
       <div class="bg col-md-7">
       </div>
       
    </div>
  </section>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script type="text/javascript">
$('.tabs .tab').click(function(){
    if ($(this).hasClass('signin')) {
        $('.tabs .tab').removeClass('active');
        $(this).addClass('active');
        $('.cont').hide();
        $('.signin-cont').show();
    } 
    if ($(this).hasClass('signup')) {
        $('.tabs .tab').removeClass('active');
        $(this).addClass('active');
        $('.cont').hide();
        $('.signup-cont').show();
    }
});

</script>

</body>

   



</html>