<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>모두의 POS</title>



</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<main class="container">
  <div class="row intro-section" style="width:80%; margin: 0 auto; background-color:#DCDCDC; padding:10px;">
    <!-- 기존에 주점을 만들었는지 확인함 -->
    <div class="col-lg-4" style="padding:5px;">


      <div style="background-color:white; height:auto; width:340px">
        <div style="padding:10px;">
          <div style="color:black">
            <h4>주문 내역</h4>
            <div>======================================</div>
            <div style="height:250px; margin-left:1px; margin-right:1px;">
              <div class="row" style="font-size:14px; height:200px;">
                <div id = "billpreview_test">


                </div>

              </div>
              <div>-----------------------------------------------------------------</div>

              <div class="row">
                <span class="col-lg-4">총 액</span>
                <span class="col-lg-8" style="text-align:right"><%= @total_price %> 원</span>
              </div>
            </div>
            <div>======================================</div>
          </div>

          <div class="row" style="margin-top:15px;">
            <form class="col-lg-4" action="/sale/billfinish" method = "post">
              <button type="submit" formmethod="post" formaction="/sale/billfinish" class="btn btn-default">완료</button>
            </form>
            <form class="col-lg-4" action="/sale/billreset" method = "post">
              <button type="submit"   class="btn btn-default">초기화</button>
            </form>
            <form class="col-lg-4" action="/sale/bill_cancle" method = "post">
              <button type="submit"   class="btn btn-default">취소</button>
            </form>

          </div>
        </div> <!-- 가장 우측 div box의 padding size -->
      </div> <!-- 가장 우측 div box의 bgcolor, height-size -->







    </div> <!-- 가장 우측 div box의 gridsystem ratio -->

    <div class="col-lg-8">
      <div>
        <div style="padding-top:5px;">
          <div class="row" style="height:70px; border-bottom:1px solid white">
            <!--<div class="btn btn-default" style="height:60px; padding-top:18px;"><%= "◀" %></div> -->

            <div class="btn-group">
              <div class="btn-group">
                <a href="/sale/index">
                  <button id = "all"class="btn btn-defalut" style="background-color:white; height:60px; width:90px; box-shadow:0 2px 2px 0 darkgray;">전체보기</button>
                </a>

                <% @category.each do |c|%>
                      <button id="c_<%=c.id%>" class="btn btn-defalut" style="background-color:white; height:60px; width:90px; box-shadow:0 2px 2px 0 darkgray;"><%=c.name%></button>
                <% end %>
              </div>
            </div>

            <!--<div class="btn btn-default" style="height:60px; padding-top:18px;"><%= "▶" %></div>-->

          </div>
        </div>
      </div>

      <div class="row" style="margin-left:40px;padding:5px; height:338px;padding-left:15px; padding-right:15px;">

        <!-- form 자리-->
          <div id="menu" class = "menuclass">

          </div>


          <% @category.each do |c| %>
              <% c.menu.each do |m| %>
                  <div class="col-lg-3" style="margin-right:15px; margin-top:10px;">
                    <button id = "menu123" type="submit" class="btn btn-defalut menusubmit1" value="<%= m.id %>" name="menuid" style="background-color:white; height:100px; width:135px; box-shadow:0 2px 2px 0 darkgray;">
                      <%=m.name%>/<%=m.price%>
                    </button>
                  </div>
              <% end %>
          <% end %>
        <!-- /form 자리-->
      </div>

    </div> <!-- 2번째 열 안에서의 2번째 행에 대한 row 클래스 -->
  </div> <!-- gridsystem에서 2번째 열의 ratio -->
  </div> <!--  가장 바깥범위의 gridsystem row -->
</main> <!-- 모두의POS container -->

<button class = "menuhi1">hihi</button>
</br>

<script>
    $(document).ready(function(){
      <%@category.each do |c|%>

      $("#c_<%=c.id%>").click(function(){
          $("#menu").html("<% c.menu.each do |m| %>" + <!--#menu 자리에 삽입-->
              "<button type='submit' value='<%=m.id %>' name='menuid' id='m_<%=m.id%>><%=m.name%>/<%=m.price%>!!'</button>" +
              "<% end %>");
      });
        <%end%>
    });
</script>

<script>
    $(document).ready(function(){
        <%@category.each do |c|%>
          <% c.menu.each do |m| %>
        $("#m_<%=m.id%>").click(function(){
            $("#billpreview_test").html("" + <!--#menu 자리에 삽입-->
                "<%=m.name%>/<%=m.price%>" +
                "<% end %>");
        });
        <%end%>
    });





</script>



<script>
    $(document).ready(function(){
        $('.23r213').click(function(){
            menu_id = this.value;
            $.ajax({
                method: "POST",
                url: "/sale/billwrite_test",
                data: { menuid: menu_id}
            })
            alert(menu_id);
        });
    });


</script>


</body>
</html>