

<h1><%=current_user.store.name%></h1> <!-- 주점명 출력-->

<h2>판매페이지</h2>

<div class = "container">

  <form action="/sale/billpreview" method = "post">
    <% @category.each do |c|%>
        <h3><%=c.name%></h3>
        <% c.menu.each do |m|%>
          <button type="submit" class="btn btn-default" name = "menuid" value ="<%=m.id%>"> <%=m.name%>/<%=m.price%></button></br>
        <%end%>
    <%end%>
  </form>
  -------------------------------------------------

  </br></br>
  <%= render 'sale/billpreview'%>


</div>
<!-- ajax 구현 -->
<!-- 위에서 클릭한 메뉴의 빌 내용을 아래 출력  -->



