<!DOCTYPE html>
<html>
<head>
  <title>PosModelTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--부트스트랩 CDN -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  <!-- j-query CDN -->
  <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.0.0rc1.js"></script>
 
  <script src="https://use.fontawesome.com/c38c630c33.js"></script>
  <link rel="stylesheet" href="animate.min.css">


</head>
<body>

<% if user_signed_in?%>

<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
            <span class="navbar-brand">
              <i class="fa fa-address-book fa-5x" aria-hidden="true" style="font-size:20px;">&nbsp;
                <small>
                  <% if user_signed_in?%>
                    <%=current_user.email%>
                      <%if current_user.admin_check %>
                        <a href="/admin/index">관리자페이지</a>
                      <%end%>
                  <%end%>
                </small>
              </i>
            </span>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <a class="navbar-brand" href="/">
          <i class="fa fa-home fa-5x" aria-hidden="true" style="font-size:20px;"></i>
        </a>
        <a class="navbar-brand" href="/home/setting">
          <i class="fa fa-gear fa-5x" aria-hidden="true" style="font-size:20px;"></i>
        </a>
        <a class="navbar-brand" href="/users/sign_out">
          <i class="fa fa-close fa-5x" aria-hidden="true" style="font-size:20px;"></i>
        </a>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> <!-- 모두의POS navbar -->
<%end%>


<% if user_signed_in?%>
  <!--
  <%=current_user.email%>
  <a href="/users/sign_out">로그아웃</a>
  -->

<%end%>

<%= yield %>

  



</body>
</html>
